// XXL Screens
@include mediaXxl {
  #sec6 {
    .container-fluid {
      .col-md-4 {
        height: 650px !important;
      }

      .col-md-6 {
        padding-left: 50px;
      }
    }
  }
}

// XL Large Screens

@include mediaXl {
  #sec6 {
    .container-fluid {
      .col-md-4 {
        height: 800px !important;
      }

      .col-md-6 {
        padding-left: 50px;
      }
    }
  }
}

// Large Screens
@include mediaLg {
  #sec6 {
    .container-fluid {
      .col-md-4 {
        height: 900px !important;
      }

      .col-md-6 {
        padding-left: 50px;
      }
    }
  }
}

// Tablets
@include mediaMd {
  #sec6 {
    .container-fluid {
      .col-md-4 {
        height: 1100px !important;
      }

      .col-md-6 {
        padding-left: 25px;
      }
    }
  }
}

// Smart Phones
@include mediaSm {
  nav {
    img {
      width: 150px;
    }

    #black {
      width: 0px;
      opacity: 0;
    }

    .appear {
      opacity: 1 !important;
    }

    .btn-outline-success {
      margin-left: 20px;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          position: relative;
          text-decoration: none;
          color: #333;
          margin-left: 20px;
          font-family: $main;
          font-size: 20px;
          font-weight: 700;
          transition: color 0.2s ease;
          padding: 3px 0;

          &:hover {
            color: #000;

            &::after,
            &::before {
              width: 25% !important;
              left: 0;
            }
          }

          &::after,
          &::before {
            content: '';
            position: absolute;
            top: calc(100% + 5px);
            width: 0;
            right: 0;
            height: 3px;
          }

          &::before {
            transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
            background: $purple;
          }

          &::after {
            transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
            background: $blue;
          }
        }

        .white {
          transition: all 0.5s ease-in-out;

          color: #333 !important;
        }

        .active {
          color: $blue !important;
        }

        .about-active {
          color: $blue !important;
        }

        .about-active-dark {
          transition: all 0.5s ease-in-out;

          border-bottom: $blue 5px solid;
          width: 20% !important;
        }

        .dropdown-menu {

          .col-4,
          .col-8 {
            img {
              width: 75px !important;
            }
          }
        }
      }
    }
  }

  #sec2 {
    .container {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  #sec4 {
    .container {
      h1 {
        font-size: 2rem;
      }

      .card {
        p {
          font-size: 0.8rem;
          margin-bottom: -10px;
        }
      }
    }
  }

  .rules {
    h1 {
      font-size: 1.5rem !important;
    }

    p {
      font-size: 1rem !important;
    }

    img {
      width: 75px !important;
    }
  }

  #rule2 {
    .container {
      .row {
        .col-md-8 {
          padding-left: 15px !important;
        }
      }
    }
  }

  #rule3 {
    h1 {
      width: 100%;
    }
  }

  #explore {
    h3 {
      font-size: 0.9rem;
    }
  }

  #sec5 {
    text-align: center;

    .hello {
      font-size: 2rem !important;
    }

    .bio {
      font-size: 1rem !important;
      width: 75% !important;
    }
  }

  #sec6 {
    .container-fluid {
      .col-md-4 {
        height: 300px !important;
      }

      .col-md-6 {
        padding-top: 25px;

        p {
          margin-bottom: 25px;
        }
      }
    }
  }

  #why {


    transition: all .5s ease-in-out !important;


    h3 {
      font-size: 1.3rem;
    }
  }

  #sec7 {
    .row {
      .col-md-4 {
        height: 600px !important;
      }
    }
  }



  #sec8 {
    .container {
      #accordionSad {
        .card {
          .card-header {
            .btn {
              font-size: 1.2rem !important;
            }
          }
        }
      }
    }
  }

  #sec9 {
    .container {
      #accordionHappy {
        .card {
          .card-header {
            .btn {
              font-size: 1.2rem !important;
            }
          }
        }
      }
    }
  }

  #sec10 {
    .container {
      height: 500px !important;

      h1 {
        font-size: 2rem !important;
      }

      .btn {
        font-size: 1rem !important;
        width: 60% !important;
      }
    }
  }

  #retirement-calc {
    .coming-soon {

      img {
        width: 250px !important;
      }

      .container {
        .row {
          width: 100% !important;

          .col-6 {
            img {
              width: 150px !important;
            }

            h1 {
              font-size: 1rem !important;
            }
          }
        }

        .progress {

          width: 100% !important;
          margin: 0 auto;

          .progress-bar {
            font-family: $second;
            font-weight: 700;
            font-size: 1.3rem;

          }
        }

        p {
          font-size: 1rem !important;
          width: 100% !important;
        }

        form {
          .form-group {
            width: 75% !important;

            input {
              width: 100% !important;

            }

            button {
              width: 100% !important;

            }
          }
        }
      }
    }
  }
}