// Smart Phones
@include mediaSm {
  nav {
    img {
      width: 150px !important;
    }

    .navbar-nav {
      .nav-item {
        .dropdown-menu {

          .col-4,
          .col-8 {
            img {
              width: 75px !important;
            }
          }
        }
      }
    }
  }

  #sec2 {
    .container {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  #sec4 {
    .container {
      h1 {
        font-size: 2rem;
      }

      .card {
        p {
          font-size: .8rem;
          margin-bottom: -10px;
        }
      }
    }
  }

  .rules {
    h1 {
      font-size: 1.5rem !important;
    }

    P {
      font-size: 1rem !important;
    }

    img {
      width: 75px !important;
    }
  }

  #rule3 {
    h1 {
      width: 100%;
    }
  }
}