#blog-post {
  .container {
    text-align: left;

    .desc {
      i {
        margin-right: 5px;
        margin-left: 10px;
      }

      text-align: left;
      padding-top: 15px;
    }

    .title {
      font-size: 2rem;
      font-weight: 700;
      text-align: left;
      padding-top: 0px;
      text-transform: capitalize;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, lighten($blue, 15) 20%);
      display: inline;
    }



    .sub {
      font-size: 1.8rem;
      color: $blue;
      text-align: left;
      margin-bottom: 15px;
      margin-top: 5px;
    }

    .breadcrumbs {
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all .8s ease-out;

      padding: 10px 0;
      opacity: 0;

      ul {
        list-style: none;
        display: inline-flex;
        margin: 0 auto;

        li {
          margin-right: 10px;
          font-size: 1rem;
          font-family: $main;
          text-transform: capitalize;
          color: #333;

          .fa-caret-right {
            color: $blue;
          }

          a {
            text-decoration: none;
            color: #333;
            transition: all 0.5s ease-in-out;

            &:hover {
              color: $blue;
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    .white {
      background: white;
      opacity: 1;

    }

    .img-con {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 75%;
        margin: 0 auto;
        text-align: center;

        /* as the half of the width */
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;


        border-bottom: 0;


      }

      .small {
        color: gray;
        text-align: center;

      }
    }

    .body {
      text-align: left;
      font-family: $second;

    }
  }

}

@include mediaSm {
  #blog-post {
    .container {
      .title {
        font-size: 1.5rem;
      }

      .sub {
        font-size: 1rem;
      }

      .desc {
        font-size: .6rem;
      }


    }
  }
}