#blog-post {
  .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 15px 10px;
  }

  .breadcrumbs {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    z-index: 5;
    padding: 10px 0;



    ul {
      list-style: none;
      display: inline-flex;
      margin: 0 auto;

      li {
        margin-right: 10px;
        font-size: 1.3rem;
        font-family: $main;
        text-transform: capitalize;
        color: #333;

        .fa-caret-right {
          color: $blue;
        }

        a {
          text-decoration: none;
          color: #333;
          transition: all .5s ease-in-out;

          &:hover {
            color: $blue;
            font-size: 1.4rem;
          }

        }
      }
    }
  }




}

@include mediaSm {}