#blog-post {
  .container {
    text-align: left;

    .desc {
      i {
        margin-right: 5px;
        margin-left: 10px;
      }

      text-align: left;
      padding-top: 15px;
    }

    .title {
      font-size: 2rem;
      font-weight: 700;
      text-align: left;
      padding-top: 0px;
      text-transform: capitalize;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, lighten($blue, 20) 20%);
      display: inline;
    }



    .sub {
      font-size: 1.8rem;
      color: $blue;
      text-align: left;
      margin-bottom: 15px;
      margin-top: 5px;
    }

    .breadcrumbs {
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all .8s ease-out;

      padding: 10px 0;
      opacity: 0;

      ul {
        list-style: none;
        display: inline-flex;
        margin: 0 auto;

        li {
          margin-right: 10px;
          font-size: 1rem;
          font-family: $main;
          text-transform: capitalize;
          color: #333;

          .fa-caret-right {
            color: $blue;
          }

          a {
            text-decoration: none;
            color: #333;
            transition: all 0.5s ease-in-out;

            &:hover {
              color: $blue;
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    .white {
      background: white;
      opacity: 1;

    }

    .img-con {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 75%;
        margin: 0 auto;
        text-align: center;

        /* as the half of the width */
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;


        border-bottom: 0;


      }

      .small {
        color: gray;
        text-align: center;

      }
    }

    .body {
      text-align: left;
      font-family: $second;

    }
  }

}

#sidebar {
  height: 250px;
  width: 10px;
  position: fixed;
  top: 50%;
  text-align: center;
  padding: 10px;
  margin-left: 10px;

  .social {
    margin-left: -200px;
    width: 230px;
    padding: 0;
    display: inline-table;
    height: 0px;
    background-color: rgba(128, 128, 128, 0.73);
    transition-property: margin-left;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    box-shadow: 0px 0px 6px 0px #3E3D3D;
    cursor: pointer;

    &:hover {
      margin-left: -30px;
      width: 230px;
      background-color: #3b5998;
    }

    a {
      text-decoration: none;
      vertical-align: middle;
      text-align: center;
      line-height: 3;
    }

    p {
      color: white;
      position: relative;
      left: -10px;
      font-family: $second
    }

    p i {
      left: 30px;
      position: relative;
      vertical-align: middle;
      text-align: center;
      font-size: 30px;
    }
  }

  .facebook:hover {
    background-color: #3b5998;
  }

  .instagram:hover {
    background-color: #c32aa3;
  }

  .whatsapp:hover {
    background-color: #25d366;
  }





  .linkedin:hover {
    background-color: #007bb5;
  }

  .linkedin p i {
    margin-left: 10px;
  }

  .whatsapp p i {
    margin-left: 15px;
  }
}

@include mediaSm {
  #blog-post {
    .container {
      .title {
        font-size: 1.5rem;
      }

      .sub {
        font-size: 1rem;
      }

      .desc {
        font-size: .6rem;
      }


    }
  }
}