@import url('https://fonts.googleapis.com/css?family=Ubuntu:400&display=swap');

// Fonts
$main: 'Oswald', sans-serif;
$second: 'Montserrat', sans-serif;
$armis: 'Ubuntu', sans-serif;

// Colors
$blue: #4c51f7;
$green: #319236;
$gold: #f3af19;
$purple: #9d4dbb;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main;
}

p {
  font-family: $second;
}

// Media Query Mixin

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) and (max-width: 1499px) {
    @content;
  }
}

@mixin mediaXxl {
  @media screen and (min-width: 1500px) {
    @content;
  }
}
